<mat-card class="filter-card">
  <mat-card-header>
    <mat-card-title class="mb-4">Filter Animes</mat-card-title>
  </mat-card-header>
  <mat-card-content [formGroup]="filterForm">
    <div class="filter-actions">
      <!-- Filter Input Field -->
      <mat-form-field appearance="fill">
        <mat-label>Filter</mat-label>
        <input matInput formControlName="q" placeholder="Search by title" />
      </mat-form-field>

      <!-- Min Score Input -->
      <mat-form-field appearance="fill">
        <mat-label>Min Score</mat-label>
        <input matInput type="number" formControlName="minScore" />
      </mat-form-field>

      <!-- Max Score Input -->
      <mat-form-field appearance="fill">
        <mat-label>Max Score</mat-label>
        <input matInput type="number" formControlName="maxScore" />
      </mat-form-field>

      <!-- Media Selection -->
      <mat-form-field appearance="fill">
        <mat-label>Media</mat-label>
        <mat-select panelClass="select-panel" formControlName="type">
          <mat-option value="">Any</mat-option>
          @for (media of mediaOptions; track media) {
          <mat-option [value]="media.value">{{ media.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <!-- Genres Selection -->
      <mat-form-field appearance="fill">
        <mat-label>Genres</mat-label>
        <mat-select panelClass="select-panel" formControlName="genres" multiple>
          <mat-option value="select-all" selectAll [allValues]="allGenres">
            Select all
          </mat-option>
          @for (genre of availableGenres; track genre) {
          <mat-option [value]="genre.id">{{ genre.label }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <!-- Status Selection -->
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select panelClass="select-panel" formControlName="status">
          <mat-option value="">Any</mat-option>
          <mat-option value="airing">Airing</mat-option>
          <mat-option value="complete">Completed</mat-option>
          <mat-option value="upcoming">Upcoming</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Order By Selection -->
      <mat-form-field appearance="fill">
        <mat-label>Order By</mat-label>
        <mat-select panelClass="select-panel" formControlName="orderBy">
          <mat-option value="">None</mat-option>
          <mat-option value="score">Score</mat-option>
          <mat-option value="popularity">Popularity</mat-option>
          <mat-option value="date">Date</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Sort Selection -->
      <mat-form-field appearance="fill">
        <mat-label>Sort</mat-label>
        <mat-select panelClass="select-panel" formControlName="sort">
          <mat-option value="">None</mat-option>
          <mat-option value="asc">Ascending</mat-option>
          <mat-option value="desc">Descending</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>

<!-- Anime Grid (with Skeleton Loader) -->
<div class="grid">
  <!-- Skeleton Loader for Anime Cards -->
  @if(loading) { @for (_ of [1, 2, 3, 4, 5]; track _) {
  <mat-card *ngFor="let _ of [1, 2, 3, 4, 5]" class="card">
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
  </mat-card>
  } } @else { @for(anime of filteredAnimes; track anime) {

  <div class="grid">
    @if (!loading) {
    <mat-card class="card">
      <div class="image-wrapper">
        <img
          mat-card-image
          class="card-image"
          src="{{ anime.images.jpg.image_url }}"
          alt="{{ anime.title }}"
        />
        <div class="play-trailer-overlay" (click)="playTrailer(anime)">
          Play Trailer <mat-icon>play_circle_filled</mat-icon>
        </div>
      </div>
      <div class="details">
        <a class="title-link" [routerLink]="['/anime', anime.mal_id]">
          <h3 class="title">{{ anime.title }}</h3>
        </a>

        <ul class="info">
          <li>
            <mat-icon>tv</mat-icon> <strong>Type:</strong>
            {{ anime.type || "N/A" }}
          </li>
          <li>
            <mat-icon>schedule</mat-icon> <strong>Episodes:</strong>
            {{ anime.episodes || "N/A" }}
          </li>
          <li>
            <mat-icon>access_time</mat-icon> <strong>Duration:</strong>
            {{ anime.duration || "N/A" }}
          </li>
          <li>
            <mat-icon>event</mat-icon> <strong>Aired:</strong>
            {{ anime.aired?.string || "N/A" }}
          </li>
          <li>
            <mat-icon>stars</mat-icon> <strong>Rating:</strong>
            {{ anime.rating || "N/A" }}
          </li>
          <!-- <li>
            <mat-icon>translate</mat-icon> <strong>English:</strong>
            {{ anime.title_english || "N/A" }}
          </li>
          <li>
            <mat-icon>translate</mat-icon> <strong>Japanese:</strong>
            {{ anime.title_japanese || "N/A" }}
          </li> -->
        </ul>
        <div
          class="synopsis-container"
          [ngClass]="{ scrollable: anime.synopsis?.length > 150 }"
        >
          <p class="synopsis">{{ anime.synopsis }}</p>
        </div>
      </div>
      <mat-divider></mat-divider>
      <mat-card-actions class="actions">
        <div class="stat">
          <mat-icon>star</mat-icon>
          <span>{{ anime.score || "N/A" }}</span>
        </div>
        <div class="stat">
          <mat-icon>military_tech</mat-icon>
          <span>{{ anime.rank || "N/A" }}</span>
        </div>
        <div class="stat">
          <mat-icon>favorite</mat-icon>
          <span>{{ anime.favorites || "N/A" }}</span>
        </div>
        <div class="stat">
          <mat-icon>people</mat-icon>
          <span>{{ anime.members || "N/A" }}</span>
        </div>
        <div class="stat">
          <mat-icon>trending_up</mat-icon>
          <span>{{ anime.popularity || "N/A" }}</span>
        </div>
      </mat-card-actions>
    </mat-card>

    } @else {
    <div class="spinner-container">
      <mat-spinner></mat-spinner>
    </div>
    }
  </div>
  } }
</div>

<mat-paginator
  [length]="pagination.items.total"
  [pageSize]="pagination.items.per_page"
  [pageIndex]="pagination.current_page - 1"
  [pageSizeOptions]="[5, 10, 25]"
  (page)="onPageChange($event)"
  [showFirstLastButtons]="true"
  [hidePageSize]="true"
>
</mat-paginator>
