// General Card Styling
.season-card {
  display: flex;
  flex-direction: column;
  background-color: #2b2b36; // Dark background
  color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4); // Soft shadow like AnimeComponent
  padding: 10px;

  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 310px;
  }
}

.season-content {
  display: flex;
  gap: 20px;
  padding: 15px;
  // align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.season-image {
  max-width: 280px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;

  @media (max-width: 480px) {
    /* Mobile view adjustments */
    width: 200px; /* Full width on mobile */
    height: 100%; /* Fixed height on mobile */
  }
}

.season-details {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: -webkit-fill-available;

  .season-title-link {
    text-decoration: none;
    color: #ffcc00;
    text-align: center;

    &:hover {
      text-decoration: underline;
    }
  }

  .season-title {
    font-size: 18px;
    margin: 0;

    @media (max-width: 480px) {
      /* Mobile view adjustments */
      font-size: 16px; /* Smaller font size on mobile */
      text-align: center;
    }

    @media (max-width: 968px) and (orientation: landscape) {
      /* Landscape mode adjustments */
      font-size: 16px; /* Smaller font size on landscape */
    }
  }

  .season-date,
  .season-episodes {
    font-size: 14px;
    margin: 0;
    color: #cccccc;
  }

  .season-genres {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;

    .genre-chip {
      background-color: #4c4c61;
      padding: 5px 10px;
      border-radius: 16px;
      font-size: 12px;
    }
  }

  .season-synopsis {
    font-size: 14px;
    margin: 10px 0;
    color: #cccccc;
    text-align: justify;

    a {
      color: #ffcc00;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.season-chip {
  background-color: #4c4c61;
  padding: 5px 10px;
  border-radius: 16px;
  font-size: 12px;
}

// Grid Layout
.season-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  gap: 20px;
  padding: 20px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(
      auto-fill,
      minmax(300px, 1fr)
    ); // Single card per row on smaller devices
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(
      auto-fill,
      minmax(100%, 1fr)
    ); // Full-width cards for very small screens
    gap: 15px;
    // padding: 10px;
  }

  // changed from 1024px for vertical layout mobile devices
  @media (max-width: 300px) {
    grid-template-columns: repeat(
      auto-fill,
      minmax(400px, 1fr)
    ); // Adjust for medium screens
  }
}

mat-paginator {
  // margin: 20px auto;
  display: flex;
  justify-content: center;
}

// Filter Card
.filter-card {
  margin-bottom: 20px;
  border-radius: 0px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  background-color: #2b2b36;
  color: white;

  .filter-actions {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 10px;

    @media (max-width: 600px) {
      grid-template-columns: 1fr; /* Single column layout for smaller devices */
    }

    .mat-form-field {
      width: 100%;
    }

    .mat-select {
      width: 100%;
    }
  }
}

.season-type p {
  font-size: 14px;
  margin: 5px 0;
}

.season-synopsis-container {
  height: 200px; /* Set a fixed height for the synopsis container */
  overflow-y: auto; /* Enable scrolling when the content overflows */
  scrollbar-width: thin; /* Style the scrollbar for Firefox */
  scrollbar-color: #ffcc00 #2b2b36; /* Set the scrollbar thumb and track color for Firefox */
}

/* Webkit-based browsers (Chrome, Safari, Edge) */
.season-synopsis-container::-webkit-scrollbar {
  width: 8px; /* Define the scrollbar width */
}

.season-synopsis-container::-webkit-scrollbar-thumb {
  background-color: #ffcc00; /* Set the scrollbar thumb color */
  border-radius: 10px;
}

.season-synopsis-container::-webkit-scrollbar-track {
  background-color: #2b2b36; /* Set the scrollbar track color */
  border-radius: 10px;
}

.season-synopsis {
  font-size: 14px;
  color: #cccccc;
  text-align: justify;
  margin-bottom: 10px; /* Add some margin for spacing */
}

.season-footer {
  display: flex;
  justify-content: center;
  // gap: 30px;
  // padding: 10px 0;
  // margin-top: auto;
}

.season-image-wrapper {
  position: relative;
  display: inline-block; /* Ensure the overlay stays within the image bounds */
  opacity: 1;

  .play-trailer-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    color: #ffcc00; /* Yellow text */
    font-size: 14px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px; /* Slightly rounded corners */
    border-top-right-radius: 10px; /* Slightly rounded corners */

    text-align: center;
    z-index: 10;
    cursor: pointer; /* Make it clickable */

    mat-icon {
      margin-left: 8px;
    }
  }
}
