/* Additional styles for filters */
.filter-card {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #2b2b36;
  border-radius: 0;
  color: white;
}

.mat-mdc-card-header {
  height: 50px;
}
