<mat-card class="filter-card">
  <mat-card-header>
    <mat-card-title class="mb-4">Filter Mangas (to read)</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="search-field">
      <mat-label>Search for manga</mat-label>
      <!-- [(ngModel)]="query"
      (ngModelChange)="onQueryChange()" -->
      <input
        matInput
        [(ngModel)]="query"
        placeholder="Enter manga title"
      />
      <button mat-fab matSuffix (click)="searchManga(); $event.stopPropagation()" style="border-radius: 0">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </mat-card-content>
</mat-card>

<div class="grid">
  @for (manga of searchResults; track $index) {
  <mat-card class="card">
    <div class="image-wrapper">
      <div *ngIf="manga.loading; else imageTemplate" class="spinner-wrapper">
        <mat-spinner diameter="50"></mat-spinner>
      </div>
      <ng-template #imageTemplate>
        <img
          mat-card-image
          class="card-image"
          [src]="manga.coverUrl"
          [alt]="manga.attributes?.title?.en"
        />
      </ng-template>
    </div>
    <div class="details">
      <a
        class="title-link"
        (click)="
          navigateToMangaRead(
            manga.id,
            manga.attributes?.title?.en || manga.attributes?.title?.ja
          )
        "
      >
        <h3 class="title">{{ manga.attributes?.title?.en }}</h3>
      </a>
      <div
        class="synopsis-container"
        [ngClass]="{
          scrollable: manga.attributes?.description?.en?.length > 150
        }"
      >
        <p class="anime-synopsis">{{ manga.attributes?.description?.en }}</p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-card-actions
      class="actions"
      (click)="
        navigateToMangaRead(
          manga.id,
          manga.attributes?.title?.en || manga.attributes?.title?.ja
        )
      "
    >
      <mat-icon class="me-2">arrow_forward</mat-icon> Read Manga <mat-icon class="ms-2">arrow_backward</mat-icon>
    </mat-card-actions>
  </mat-card>
  }
</div>
