.anime-details-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 1700px;
  color: white;

  .header {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    padding-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

    .left-content {
      flex: 1 1 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      gap: 10px;

      mat-card {
        margin: 0;
        height: -webkit-fill-available;
      }

      .anime-poster {
        display: block; /* Ensures the image behaves like a block element */
        margin: 0 auto; /* Centers the image horizontally */
        width: 100%;
        max-width: 450px;
        height: auto;
        border-radius: 8px;
      }
    }

    .right-content {
      flex: 1 1 45%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 15px;

      mat-card-header {
        margin-bottom: 10px;
      }

      mat-card-title {
        color: #ffcc00;
      }

      .stat-item {
        margin-bottom: 5px;
      }

      .mal-link {
        font-size: 1.2rem;
        font-weight: bold;
        color: #009688;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .expansion-panels {
    margin-top: 20px;
  }

  .character-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    .character-card {
      width: 100%;
      max-width: 200px;
      text-align: center;

      .character-image {
        width: 100%;
        max-height: 250px;
        object-fit: cover;
        border-radius: 8px;
      }

      .character-name {
        font-weight: bold;
        margin-top: 10px;
      }

      .role {
        font-size: 0.9rem;
        color: #777;
      }
    }
  }

  .staff-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
}

.title {
  color: #ffcc00;
  font-size: 20px;
  min-height: 25px;
  text-align: center;
}

.chip-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.genre-chip {
  display: inline-block;
  padding: 5px 10px;
  background-color: #3e4053;
  color: #fff;
  border-radius: 20px;
  font-size: 0.85rem;
  font-weight: 500;
  user-select: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  white-space: nowrap;
  text-align: center;
}

.trailer {
  color: #ffcc00;
}

.review-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.quoting-letters {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 15px;
}

mat-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b3b4f;
  width: auto;

  .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 7px;

    mat-icon {
      font-size: 24px;
      color: #ffcc00;
      margin-bottom: 4px;
    }

    span {
      font-size: 11px;
      color: white;
    }
  }
}

.actions-left-content {
  flex: 1 1 60%;
  display: flex;
}

.actions-right-content {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.synopsis-container {
  overflow-y: hidden;
  text-align: justify;
  color: #cccccc;
  font-size: 14px;
  transition: max-height 0.3s ease;
  margin-bottom: 20px !important;

  &.scrollable {
    max-height: 200px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ffcc00;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-track {
      background-color: #2b2b36;
    }
  }
}

mat-expansion-panel {
  margin-bottom: 10px;
}

.recommendation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

  .recommendation-card {
    width: 100%;
    max-width: 200px;
    text-align: center;

    .recommendation-image {
      width: 100%;
      max-height: 250px;
      object-fit: cover;
      border-radius: 8px;
    }

    .recommendation-name {
      font-weight: bold;
      margin-top: 10px;
      color: #ffcc00;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.loading-container {
  position: fixed; /* Fixed position so it stays in the center */
  top: 50%; /* Position it vertically in the center */
  left: 50%; /* Position it horizontally in the center */
  transform: translate(-50%, -50%); /* Adjust for perfect centering */
  z-index: 1000; /* Ensure it is above other content */
  width: 100vw; /* Take full width of viewport */
  height: 100vh; /* Take full height of viewport */
  display: flex;
  justify-content: center; /* Horizontally center the spinner */
  align-items: center; /* Vertically center the spinner */
}
